{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la partie admin!{% endblock %}

{% block body %}

<section>

    <h4> 
        Gérer les Utilisateurs
    </h4>

    <table>

            <tr>

                <th>Nom</th>
                <td>{{ users.nom }}</td>

            </tr>

            <tr>

                <th>Prenom</th>
                <td>{{ users.prenom }}</td>

            </tr>

            <tr>

                <th>Poste</th>
                <td>{{ users.poste }}</td>

            </tr>

            <tr>

                <th>Chocolaterie</th>
                <td>{{ users.chocolaterie.nom }}</td>

            </tr>

            <tr>

                <th>Description</th>
                <td>{{ users.description }}</td>

            </tr>

            <tr>

                <th>Linkedin</th>
                <td>{{ users.linkedin }}</td>

            </tr>

            <tr>

                <th>Facebook</th>
                <td>{{ users.facebook }}</td>

            </tr>

            <tr>

                <th>Instagram</th>
                <td>{{ users.instagram }}</td>

            </tr>

            <tr>

                <th>Twitter</th>
                <td>{{ users.twitter }}</td>

            </tr>

            <tr>

                <th>Role</th>
                <td>{{ users.roles ? users.roles|json_encode : '' }}</td>

            </tr>

                <th>Actions</th>
                <td><button><i class="fa-solid fa-trash"></i>Suprimer</button></td>
                <td><button><a href="{{ path('app_user_edit', {'id': users.id}) }}"><i class="fa-solid fa-trash"></i>Modifier</a></button></td>

            </tr>




    </table>

</section>

{% endblock %}
