{% extends 'login_register.html.twig' %}

{% block title %}Davil Kenos - Connexion{% endblock %}

{% block body %}


<section>



    <img title="logo david-kenos" src="../img/logos/logo-david-kenos-blanc.png" alt="Le logo de david kenos">
            
            <h5> Hâte de nous retrouver ?</h5>
            <h1><span> Connectes-toi !</span></h1>

           {% if error %}

           
           <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
           
       {% endif %}

       {% if app.user %}
       
           <div class="">
           
               Bienvenue {{ app.user.userIdentifier }} <a href="{{ path('app_logout') }}">Déconnexion</a>
           
           </div>

       {% endif %}

    <form class="flexForm" method="post">

    



       
       <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="" autocomplete="email" placeholder="Identifiant" required autofocus>
       
       <input type="password" name="password" id="inputPassword" class="" autocomplete="current-password" placeholder="Mot de passe" required>

       <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

       {#
           Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
           See https://symfony.com/doc/current/security/remember_me.html
#}
        
               <label id="check_rem_me" >Se souvenir de moi
                   <input type="checkbox" name="_remember_me"> 
               </label>
               
         
       

       <button class="btn" type="submit"> Connexion </button>

    </form>

</section>


{% endblock %}
