{% extends 'login_register.html.twig' %}

{% block title %}Davil Kenos - Inscription {% endblock %}

{% block body %}







<section id="sectionForm">

<div class="container">

    <div class="misenforme">



    <img title="logo david-kenos" src="../img/logos/logo-david-kenos-blanc.png" alt="Le logo de david kenos">
            {% if app.request.get('_route') == 'app_register_admin' %}
        <h5> Hâte de nous retrouver ?</h5>
       <h1><span> Inscrit-toi en administrateur !</span></h1>

    {% else %}
    <h5> Hâte de nous retrouver ?</h5>
    <h1><span> Inscrit-toi !</span></h1>


    {% endif %}

    </div>
            


        {{ form_start(registrationForm) }}



        <div class="divForm">
        

        {{ form_widget(registrationForm.prenom, {'attr': {'placeholder': 'Prenom' }}) }}
  
        </div>
        <div class="divForm">
         {{ form_widget(registrationForm.nom, {'attr': {'placeholder': 'Nom de famille' }}) }}

       </div> 


        <div class="divForm">
        {{ form_widget(registrationForm.poste, {'attr': {'placeholder': 'Poste' }}) }}
        </div>

        <div class="divForm">
        {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'E-mail' }}) }}
        </div>


        <div class="divForm">
        {{ form_row(registrationForm.chocolaterie,)}}
        </div>


        <div class="divForm">

        {{ form_row(registrationForm.plainPassword )}}
        </div>

        <div class="divForm">
        {{ form_row(registrationForm.AgreeTerms) }}
        </div>


        <div class="divForm">

        <button type="submit" class="btn_Reg_Form ">S'inscrire</button>

        </div>


 

        {{ form_end(registrationForm) }}

     
              
</div>
</section>

    






{% endblock %}


