{% extends 'base.html.twig' %}

{% block title %}Inscription {% endblock %}

{% block body %}







<section id="sectionForm">






    <img title="logo david-kenos" src="../img/logos/logo-david-kenos-blanc.png" alt="Le logo de david kenos">
            {% if app.request.get('_route') == 'app_register_admin' %}
        <h5> Hâte de nous retrouver ?</h5>
       <h1><span> Inscrit-toi en administrateur !</span></h1>

    {% else %}
    <h5> Hâte de nous retrouver ?</h5>
    <h1><span> Inscrit-toi !</span></h1>


    {% endif %}


            
 

        {{ form_start(registrationForm) }}



        <div class="divForm">

<input  value="" name="prenom" id="inputprenom" class="" autocomplete="prenom" placeholder="prenom" required autofocus>
        {{ form_row(registrationForm.prenom) }}

        {{ form_row(registrationForm.nom) }}

        </div>


        <div class="divForm">
     
        {{ form_row(registrationForm.poste) }}
        </div>

        <div class="divForm">
        {{ form_row(registrationForm.chocolaterie) }}
        </div>

        <div class="divForm">
        {{ form_row(registrationForm.email) }}
        </div>

        <div class="divForm">
        {{ form_row(registrationForm.plainPassword )}}
        </div>

        <div class="divForm">
        {{ form_widget(registrationForm.agreeTerms) }}
        </div>


        <div class="divForm">

        <button type="submit" class="btn">Inscription</button>

        </div>

        {{ form_end(registrationForm) }}
        

</section>

    






{% endblock %}


