{% extends 'base.html.twig' %}

{% block title %}Register User{% endblock %}

{% block body %}

{% if app.request.get('_route') == 'app_register_admin' %}
    <h1>Inscription admin</h1>

    {% else %}
 
    <h1>Register</h1>


{% endif %}


    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
