{% extends 'admin_base.html.twig' %}

{% block title %}Chocolaterie index{% endblock %}

{% block body %}

<section>

    <div class="titleBurger">
        <i class="fa-solid fa-bars" onClick="openMenu2()" id="burger2"></i>
        <h1 id="titleCrud">Gérer les chocolateries</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Lieu</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chocolaterie in chocolateries %}
        
                <tr>

                <td>{{ chocolaterie.nom }}</td>
                <td>{{ chocolaterie.lieu }}</td>
                <td>{{ chocolaterie.photo }}</td>

                <td>

                        <a  href="{{ path('app_chocolaterie_show', {'id': chocolaterie.id}) }}">
                            <i class="fa-solid fa-eye"></i>
                        </a>

                    <button>
                        <a  href="{{ path('app_chocolaterie_edit', {'id': chocolaterie.id}) }}" class="editBtn">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Modifier
                        </a>
                    </button>

                        {{ include('admin/chocolaterie/_delete_form.html.twig') }}

                    

                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td>Aucune chocolaterie trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'admin/pagination.html.twig' %}

    <button class="btn-add"><a href="{{ path('app_chocolaterie_new') }}">Ajoutez une chocolaterie</a></button>

</section>
{% endblock %}
