{% extends 'user_base.html.twig' %}

{% block title %}Accueil : {{ app.user.prenom }} {{ app.user.nom }}{% endblock %}

{% block body %}

        <section class="container_command deleteInBurger">

            <section id="post">
                <h2>
                    Bienvenue sur ton espace,<br>
                    <span>Voici les derniers posts publiés.</span>
                </h2>

                <div id="gridPost">

                    {% for post in findAllPost|slice(0, 6) %}

                        <a href="{{ path('app_profil', { 'id':post.user.id }) }}#post{{post.id}}" id="post{{ loop.index }}" style="background:center / cover no-repeat url({{ post.imagePost }}); box-shadow: 0 0 0 200px rgb(0,0,0,40%) inset;">
                            <article>


                                    <h4>
                                        {{ post.catPost.nom }}
                                    </h4>
                                    <p>
                                        {{ post.contenu |length > 50 ? post.contenu |slice(0, 70) ~ '...' : post.contenu  }}
                                    </p>


                            </article>
                        </a>

                    {% endfor %}

                </div>
            </section>

            <section id="act">

                <h2>
                    Les dernières actualités,<br>
                    <span>de l'entreprise.</span>
                </h2>


                    {% for act in findAllAct|slice(0, 2) %}

                        <a href="{{ path('app_chocolateries', { 'id':act.chocolaterie.id }) }}#act{{act.id}}">

                            <article id="act{{ loop.index }}">

                                <div class="chocolaterie">
                                    <img src="{{ act.imageActu }}" alt="{{ act.imageActuAlt}}">
                                    <span>
                                        {{ act.chocolaterie.lieu }}
                                    </span>
                                </div>

                                <h4>
                                    {{ act.chocolaterie.nom }}
                                </h4>
                                <p>
                                    {{ act.contenu |length > 50 ? act.contenu |slice(0, 50) ~ '...' : act.contenu  }}
                                </p>

                            </article>

                        </a>

                    {% endfor %}

            </section>

        </section>

{% endblock %}