{% extends 'user_base.html.twig' %}

{% block title %}Vie des chocolateries{% endblock %}

{% block body %}





<div class="Top">
<h1><strong>La vie</strong> des chocolateries, <span>Catègories</span></h1>
</div>

<section class="container_general">



<article class="container_amis">
<h3>Les derniers inscrits</h3>

{% for user in users %}
        
<figure>
<img src="{{ user.imageprofil }}" alt="{{ user.imageprofilalt }}">
<figcaption><span>{{ user.prenom}}</span><br>{{ user.nom}}</figcaption>
</figure>
        
        
    {% endfor %}



</article>


{% include "user/templates/posts.html.twig" %}






<nav class="menu_cat">

    <ul>

    <label  for="firstLi">
            <input type="checkbox" id="firstLi" onClick="gBox('firstLi')" />
            <li class="label">
                Tout les posts
            </li>
    </label>

    {% for cat in catPost %}

        <label for="checkbox{{ loop.index }}" >
                
                    <input type="checkbox" id="checkbox{{ loop.index }}" class="active" onClick="allBox('.active')">
                    <li class="label">

                        {{ cat.nom }}
                    </li>
        </label>
        
    {% endfor %}

    </ul>

</nav>

</section>

{% include 'admin/pagination.html.twig' %}
{% endblock %}