{% extends 'user_base.html.twig' %}

{% block title %}Vie des chocolateries{% endblock %}

{% block body %}





<div class="Top">
<h1><strong>La vie</strong> des chocolateries, <span>Catègories</span></h1>
</div>

<section class="container_general">



<article class="container_amis">
<h3>Les derniers inscrits</h3>

{% for user in users %}
        
<figure>
<img src="{{ user.imageprofil }}" alt="{{ user.imageprofilalt }}">
<figcaption><span>{{ user.prenom}}</span><br>{{ user.nom}}</figcaption>
</figure>
        
        
    {% endfor %}



</article>


{% include "user/templates/posts.html.twig" %}




<nav class="menu_cat">

    <ul>
        <li>Tout les posts</li>
    {% for posts in post %}
        
        <li>{{ posts.catpost.nom }}</li>
        
    {% endfor %}

    </ul>

</nav>

</section>
{% endblock %}