{% extends 'admin_base.html.twig' %}

{% block title %}Bienvenue sur la partie admin!{% endblock %}

{% block body %}

<section>

    <article id="actualites">
        <div class="count">
        {{ countAct }}
        </div>
        <h5>ACTUALITES<span>sont disponibles</span></h5>
        <ul>

            {% for accActs in accAct %}

            <li>
                le {{ accActs.crated_at|date("d/m/Y", "Europe/Paris") }} - <p> {{ accActs.contenu |length > 50 ? accActs.contenu |slice(0, 50) ~ '...' : accActs.contenu  }} </p>
            </li>

            {% endfor %}

        </ul>
        
        <div>
            <a href="{{ path('app_actualite_index') }}">Gérer les actualités</a>
        </div>
    </article>

    <article id="categories">
        <div class="count">
        {{ countCat }}
        </div>
        <h5>CATEGORIES<span>de posts sont disponibles</span></h5>
        <div>
            <a href="{{ path('app_cat_post_index') }}">Gérer les catégories</a>
        </div>
    </article>

    <article id="posts">
        <div class="count">
        {{ countPost }}
        </div>
        <h5>POSTS<span>sont disponibles</span></h5>
        <div>
            <a href="{{ path('app_post_index') }}">Gérer les posts</a>
        </div>
    </article>

    <article id="utilisateurs">
        <div class="count">
        {{ countUser }}
        </div>
        <h5>UTILISATEURS<span>sont incrits</span></h5>
        <div>
            <a href="{{ path('app_user_index') }}">Gérer les utilisateurs</a>
        </div>
    </article>

    <article id="chocolateries">
        <div class="count">
        {{ countChoco }}
        </div>
        <h5>CHOCOLATERIES<span>sont ouvertes</span></h5>
        <div>
            <a href="{{ path('app_chocolaterie_index') }}">Gérer les chocolateries</a>
        </div>
    </article>


        <a href="#" id="ancre">
            <i class="fa-sharp fa-solid fa-angle-up"></i>
        </a>

</section>
{% endblock %}
