{% extends 'admin_base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
<section>

    <div class="titleBurger">
        <i class="fa-solid fa-bars" onClick="openMenu2()" id="burger2"></i>
        <h1 id="titleCrud">Gérer les catégories</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cat_post in cat_posts %}
            <tr>
                <td>{{ cat_post.nom }}</td>
                <td>
                    <a href="{{ path('app_cat_post_show', {'id': cat_post.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <button>
                    <a href="{{ path('app_cat_post_edit', {'id': cat_post.id}) }}"><i class="fa-solid fa-pen-to-square"></i>
                            Modifier</a>
                </button>
                {{ include('admin/cat_post/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td>Aucune catégorie trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <button class="btn-add"><a href="{{ path('app_cat_post_new') }}">Ajoutez une catégorie</a></button>
    </section>
{% endblock %}
