{% extends 'admin_base.html.twig' %}

{% block title %} Catégories de Post {% endblock %}

{% block body %}
    <h1>CatPost index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cat_post in cat_posts %}
            <tr>
                <td>{{ cat_post.id }}</td>
                <td>{{ cat_post.nom }}</td>
                <td>
                    <a href="{{ path('app_cat_post_show', {'id': cat_post.id}) }}">show</a>
                    <a href="{{ path('app_cat_post_edit', {'id': cat_post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cat_post_new') }}">Create new</a>
{% endblock %}
