<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">   
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/280516d329.js" crossorigin="anonymous"></script>

        {% block stylesheets %}

            {{ encore_entry_link_tags('app') }}

            <link rel="stylesheet" href="{{ asset('css/normalizer.css') }}">
            {% if app.request.get('_route') == 'app_back_admin' %}
                <link rel="stylesheet" href="{{ asset('css/admin_back/style.css') }}">
                <link rel="stylesheet" href="{{ asset('css/admin_back/mediaqueries.css') }}">
            {% elseif app.request.get('_route') == 'app_back_crud' %}
                <link rel="stylesheet" href="{{ asset('css/admin_back/styleCrud.css') }}">
                <link rel="stylesheet" href="{{ asset('css/admin_back/mediaqueriesCrud.css') }}">
            {% elseif app.request.get('_route') == '' %}

            {% endif %}

        {% endblock %}

        {% block javascripts %}

            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/280516d329.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/less" ></script>

        {% endblock %}

    </head>
    <body>

        {% block body %}{% endblock %}

        <footer>
            Adminstration dévellopé par EILEA - 2021
        </footer>
        <script src="{{ asset('js/main.js') }}"></script>
    </body>
</html>
