

{{ form_start(form) }}


<div class="row_flex">

{{ form_row(form.facebook, {'attr': {'placeholder': 'https://fr-fr.facebook.com/' }} ) }}
{{ form_row(form.instagram, {'attr': {'placeholder': 'https://fr.instagram.com/' }}) }}
{{ form_row(form.twitter, {'attr': {'placeholder': 'https://twitter.com/?lang=frdd' }}) }}
{{ form_row(form.linkedin, {'attr': {'placeholder': 'https://fr.linkedin.com/' }}) }}
{{ form_row(form.lien, {'attr': {'placeholder': 'url:' }}) }}
</div>
<div class="row_flex">
{{ form_row(form.prenom, {'attr': {'placeholder': 'Nom' }}) }}
{{ form_row(form.nom, {'attr': {'placeholder': 'Prenom' }}) }}
{{ form_row(form.email, {'attr': {'placeholder': 'monadresse@gmail.fr' }}) }}
{{ form_row(form.poste, {'attr': {'placeholder': 'Votre poste' }}) }}
{{ form_row(form.chocolaterie) }}
<button class="btn">{{ button_label|default('Mettre à jour') }}</button>
</div>

<div class="row_flex">
{{ form_row(form.description , {'attr': {'placeholder': 'Ajouter une courte description (255 caractères max.)' }}) }}
{{ form_row(form.ImageBandeau, {'attr': {'value': 'Choisir une image' }}) }}
{{ form_row(form.ImageProfil, {'attr': {'value': 'Choisir une image' }}) }}
{{ form_row(form.plainPassword) }}
</div>

    
{{ form_end(form) }}



