<section id="container_bandeau">

{% if app.request.get('_route') == 'app_profil' %}
 

        <figure id="Conteneur_Logo_Usr">
            <img src="../{{ user.imageprofil }}" alt="{{ user.imageprofilalt }}">
        </figure>
        <figure>
            <img src="../{{ user.imagebandeau }}" alt="{{ user.imagebandeaualt }}">
        </figure>

    {% else %}

        <figure id="Conteneur_Logo_Usr">
            <img src="../{{ app.user.imageprofil }}" alt="{{ app.user.imageprofilalt }}">
        </figure>
        <figure>
            <img src="../{{ app.user.imagebandeau }}" alt="{{ app.user.imagebandeaualt }}">
        </figure>

    {% endif %}
</section>