
<header >


    <div id="containerTop">

    
       
        <figure>

            <img src="../{{ app.user.imageprofil }}" alt="../{{ app.user.imageprofilalt }}">

        </figure>


        <h1><span>{{ app.user.prenom }} </span> {{ app.user.nom }} </h1>

        <a class="btn" href="{{ path('app_profil', { 'id':app.user.id }) }}"><i class="fa-regular fa-user"></i> Voir mon profil</a>

    </div>


    <div id="containerBottom">


        
            <ul>

                <li><a href="{{ path('app_accueil') }}">Accueil</a></li>

                <li><a href="{{ path('app_chocolateries', { 'id':random(1,5) }) }}">Les chocolateries</a></li>

                <li><a href="{{ path('app_actualite') }}">Actualités de l'entreprise</a></li>

                <li><a href="{{ path('app_trombinoscope') }}">Trombinoscope</a></li>

                <li><a href="{{ path('app_viedeschocolateries') }}">La vie des chocolateries</a></li>         

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                {# Si l'utilisateur est authentifié et qu'il est admin #}
                <li><a href="{{ path('app_admin') }}">Gestion</a></li>

                    {% elseif is_granted('ROLE_ADMIN') %}
    
                    {# Si l'utilisateur est authentifié et qu'il est superadmin #}
                    <li><a href="{{ path('app_admin') }}">Gestion</a></li>
    
                    {% else %}
                    {# Si l'utilisateur est authentifié et qu'il est user = vide #}
             
                {% endif %}

                <li><a href="{{ path('app_logout') }}"><i class="fa-solid fa-power-off"></i> Déconnexion</a><li>

            </ul>



       <figure>     

            <img title="logo david-kenos" src="{{ asset('img/logos/logo-david-kenos-blanc.png') }}" alt="Le logo de david kenos blanc">

           </figure>
      



 </div>
</header>



