<section id="container_posts">
    

    
    {% if app.request.get('_route') == 'app_profil' %}
    <h1>
        Les derniers <span>posts publiés.</span>
    </h1>
    {% elseif app.request.get('_route') == 'app_chocolateries'%} 

    {% endif %}

    
    
     {% for posts in post  %} 


    <article class="posts">

        <div class="etiquette">
            {{ posts.catpost.nom }}
        </div>

        <figure>

            <img src="../{{ user.imageprofil }}" alt="../{{ user.imageprofilalt }}">

        </figure>


        <div class="contenues">

            <h3><span>{{ user.prenom}} </span> {{ user.nom }}
                <p class="colorP">publiés le {{ posts.createdAt|date('d/m/Y') }}</p>
            </h3>

            <div id="contenues_img">
                <img src="../{{ posts.imagepost }}" alt="../{{ posts.imagepostalt }}">
            </div>


            <p></span>{{ posts.contenu }}</p>
            <div class="comments">

   <i class="fa-regular fa-comments"><a href="#" id="commentaire" onClick="openMenu()"> Commenter</a></i>

     <i class="fa-regular fa-heart"><a  href="#"> J'aime</a></i>




                 
            </div>

        </div>


    </article>

{#Condition Soyer le premier à commenter ! commentaire différent suivant user, nom d'user dans com? et heure date#}



{#///////////////////////Templates-Commentaires////////////////////#}
    <div id="container_com" > 

        {#<textarea type="textarea" id="commentaire" name="commentaire" required minlength="2" maxlength="400" size="10" placeholder="Écrivez votre commentaire..."></textarea>
        

        <button id="CloseCom" onClick="closeMenu()">Publier</button>#}
        {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}



        <h3>Les commentaires existants</h3>

    

     {% for comment in posts.commentaires %}   

        <div class="com_box">


    

            <div class="commentaire">
                <figure>
               
                <img src="../{{ user.imageprofil }}" alt="{{ user.imageprofilalt }}">
               
                </figure>

            
                <p>{{ comment.contenu }}</p>
               

            </div>

        </div>
        {% endfor %}
        
        <div class="com_box_droite">

              <div class="commentaire2">
              
                <figure>
                  <img src="../{{ user.imageprofil }}" alt="{{ user.imageprofilalt }}">
                </figure>

                    <p></p>
             </div>

        </div>

   

    </div>




    {% else %}

    <p>Vous n'avez pas de poste publiés</span></p>



{% endfor %}

  {# <script src="{{ asset('js/com.js') }}"></script>#}

</section>