<section id="container_posts">

    {# On conditionne la route pour afficher le H1 sur les profils #}

    {% if app.request.get('_route') == 'app_profil' %}

    <h1>
        Les derniers <span>posts publiés.</span>
    </h1>

    {% endif %}
    

    {% if post is not empty %}

        {# On Boucle les posts liés à l'utilisateur recherché OU de tous les utilisateurs si vous êtes sur la vie des chocolaterie #}

        {% for posts in post  %}

            <article class="posts">

             

                <div class="etiquette">
                    {{ posts.catpost.nom }}
                </div>

                <figure>

                    <img src="../{{ posts.user.imageprofil }}" alt="{{ posts.user.imageprofilalt }}">

                </figure>


                <div class="contenues">

                    <h3>
                        <span>
                            {{ posts.user.prenom}}
                        </span>

                        {{ posts.user.nom }}

                        <p class="colorP">
                            publiés le {{ posts.createdAt|date('d/m/Y') }}
                        </p>
                    </h3>

                    <div id="contenues_img">
                        <img src="../{{ posts.imagepost }}" alt="{{ posts.imagepostalt }}">
                    </div>


                    <p>
                        {{ posts.contenu }}
                    </p>

                    <div class="comments">

                        {{ posts.commentaires|length }} 

                        <i class="fa-regular fa-comments">
                            <a href="#" id="commentaire" onClick="openMenu()"> 
                                Commenter
                            </a>
                        </i>

                        {{ posts.likes|length }} 

                        <i class="fa-regular fa-heart">
                            <a  href="#"> 
                                J'aime
                            </a>
                        </i>


                    </div>

                </div>


            </article>

            {#Condition Soyer le premier à commenter ! commentaire différent suivant user, nom d'user dans com? et heure date#}



            {#///////////////////////Templates-Commentaires////////////////////


            <div id="container_com" >
                var headdd = document.getElementById('head')
                <textarea type="textarea" id="commentaire" name="commentaire" required minlength="2" maxlength="400" size="10" placeholder="Écrivez votre commentaire..."></textarea>

                <button id="CloseCom" onClick="closeMenu()">Publier</button> 

                {{ form_start(form) }}


                {{ form_widget(form.contenu, {'attr': {'placeholder': 'Écrivez votre commentaire...' }} )  }}
                    <button class="btn"><a href="?idPost={{ posts.id }}">{{ button_label|default('Publierr') }}</a></button>
                {{ form_end(form) }}

                {{ postCom }}

                <h3>Les commentaires existants</h3>#}

                {# Ici on boucle les commentaires du post en question #}

                {% for comment in posts.commentaires %}

                    {# Ici on conditionne nos commentaires afin de les placer à droite s'ils ont été postés par l'utilisateur connecté #}

                    {% if comment.user.id == app.user.id %}


                        <div class="com_box_droite">
                            <div class="commentaire2">
                                <figure>
                                  <img src="../../{{ app.user.imageprofil }}" alt="{{ app.user.imageprofilalt }}">
                                </figure>
                                <div class="contenu"> 
                                    <p>{{ comment.contenu }}</p>
                                    <br>
                                    <p><strong>le {{ comment.createdAt|date('d/m/Y') }}</strong></p>{#{{ include('commentaire/_delete_form.html.twig') }}#}
                                </div>
                            </div>
                        </div>

                        {# Ou à gauche s'ils ont été postés par n'importe quel autre utilisateur.  #}
                        {% else %}

                            <div class="com_box">
                                <div class="commentaire">
                                    <figure>
                                        <img src="../../{{ comment.user.imageprofil }}" alt="{{ comment.user.imageprofilalt }}">
                                    </figure>
                                    <div class="contenu"> 
                                        <p>{{ comment.contenu }}</p>
                                        <br>
                                        <p><strong>le {{ comment.createdAt|date('d/m/Y') }}</strong></p>
                                    </div>
                                </div>
                            </div>

                    {% endif %}

                {% endfor %}

            </div>

        {% endfor %}



    {% else %}

    <p>Vous n'avez pas de poste publiés</span></p>

    {% endif %}

</section>


  {# <script src="{{ asset('js/com.js') }}"></script>#}

