{% extends 'user_base.html.twig' %}

{% block title %}Connecté : {{ app.user.prenom }} {{ app.user.nom }}{% endblock %}

{% block body %}
{#{{ dump(likeRepository) }}
                {{ dump(app.user) }}
                  
                {{ dump(post) }} #}
        {% include 'user/templates/dashboard.html.twig' %}
  
   {#<h1>
        Les derniers <span>posts publiés.</span>
    </h1>#}

        <section id="container_general">


            <article id="container_carte">

                <div class="carte">

                    <h1><span>{{ app.user.prenom }} </span> {{ app.user.nom }} </h1>

                    <p>{{ app.user.poste}} - <span>{{ app.user.chocolaterie.lieu}}</span></p>
                    <br>

                    {#ecrire une condition de type "Vous n'avez pas de description, écriver une courte description  vous"#}

                        {% if app.user.description is empty %}
                             
                             <p>Vous n'avez pas de description.</p>

                        {% else %}
                        
                         <p>{{ app.user.description}}</p>

                        {% endif %}


                    <div class="logo">


                        {% if app.user.facebook is empty %}
                             
                        {% else %}
                        
                          
                          <figure>
                                <a class="mod" href="{{ app.user.facebook}}"><i class="fa-brands fa-facebook-f"></i></a>
                          </figure>                         
                        {% endif %}



                        {% if app.user.instagram is empty %}
                             
                        {% else %}
                        
                            <figure>
                                <a class="mod" href="{{ app.user.instagram}}"><i class="fa-brands fa-instagram"></i></a>
                            </figure>
                        {% endif %}


                        {% if app.user.twitter is empty %}
                                                
                        {% else %}

                            <figure>  
                                <a class="mod" href="{{ app.user.twitter}}"><i class="fa-brands fa-twitter"></i></a>            
                            </figure>                       
                        {% endif %}


                        {% if app.user.linkedin is empty %}

                        {% else %}

                            <figure>
                                <a class="mod" href="{{ app.user.linkedin}}"><i class="fa-brands fa-linkedin-in"></i></a>
                            </figure>
                        {% endif %}


                    </div>

                    <a class="btn" href="mailto:{{ app.user.email}}"><li>Envoyer un mail</li></a>

                </div>

            </article>


            {% include 'user/templates/posts.html.twig' %}


            <section id="container_btn">

                <a class="btn" href="{{ path('app_user_profil_edit', {'id': app.user.id}) }}"><li>Modifer mon profil</li></a>
                <a class="btn" href="#"><li>Publier un post</li></a>
                <a class="btn2" href="{{ path('app_trombinoscope') }}"><li>Trombinoscope</li></a>
                

            </section>

              
                     
                
        </section>


{% endblock %}