{% extends 'user_base.html.twig' %}

{% block title %}{{ user.prenom }} {{ user.nom }}{% endblock %}

{% block body %}
{#{{ dump(likeRepository) }}
                {{ dump(app.user) }}
                  
                {{ dump(post) }} #}
        {% include 'user/templates/dashboard.html.twig' %}
  
   {#<h1>
        Les derniers <span>posts publiés.</span>
    </h1>#}

        < id="container_general">

            <article id="container_carte">

                <div class="carte">

                    <h1><span>{{ user.prenom }} </span> {{ user.nom }} </h1>

                    <p>{{ user.poste }} - <span>{{ user.chocolaterie.lieu }}</span></p>
                    <br>


                        {% if user.description is empty %}
                             

                             <p>Aucune description.</p>


                        {% else %}
                        
                         <p>{{ user.description}}</p>

                        {% endif %}


                    <div class="logo">
                    
                    

                    {#{% if app.user and app.user.facebook or app.user.twitter or app.user.instagram or app.user.linkedin  is not null %}
                             
                        {% else %}
    
                        <p>Aucuns réseaux connu.</p>

                        {% endif %}#}
                        

                        {% if user.facebook is not null %}
                          <figure>
                                <a class="mod" href="{{ user.facebook}}"><i class="fa-brands fa-facebook-f"></i></a>
                          </figure>                         
                        {% endif %}



                        {% if user.instagram is not null %}
                            <figure>
                                <a class="mod" href="{{ user.instagram }}"><i class="fa-brands fa-instagram"></i></a>
                            </figure>
                        {% endif %}


                        {% if user.twitter is not null %}
                            <figure>  
                                <a class="mod" href="{{ user.twitter }}"><i class="fa-brands fa-twitter"></i></a>            
                            </figure>                       
                        {% endif %}


                        {% if user.linkedin is not null %}
                            <figure>
                                <a class="mod" href="{{ user.linkedin }}"><i class="fa-brands fa-linkedin-in"></i></a>
                            </figure>
                        {% endif %}


                  

                    </div>

                    <a class="btn" href="mailto:{{ user.email }}"><li>Envoyer un mail</li></a>

                </div>

            </article>

            <section id="container_posts">
                {% include 'user/templates/posts.html.twig' %}
            </section id="container_posts">

            {% if (app.user.id in app.request.attributes.get('_route_params')) %}

            <section id="container_btn">

                <a class="btn" href="{{ path('app_user_profil_edit', {'id': app.user.id}) }}"><li>Modifer mon profil</li></a>
                <a class="btn" href="#"><li>Publier un post</li></a>
                <a class="btn2" href="{{ path('app_trombinoscope') }}"><li>Trombinoscope</li></a>
                

            </section>

            {% endif %}

              
                     
                
        </>


{% endblock %}