{% extends 'user_base.html.twig' %}

{% block title %}Connecté : {{ app.user.prenom }} {{ app.user.nom }}{% endblock %}

{% block body %}


<body>

    {#lighthouse navigateur ou gt metrix rapport d'optimisation #}

    <section class="container_command">

        <div id="container_bandeau">

            <figure>
                <img titre="bandeau utlisateur " src="{{ app.user.imagebandeau }}" alt="{{ app.user.imagebandeaualt }}">
            </figure>

            <figure id="Conteneur_Logo_Usr">
                <img titre="Logo utilisateur" src="{{ app.user.imageprofil }}" alt="{{ app.user.imageprofilalt }}">
            </figure>

        </div>

        <div id="container_general">

            <div id="container_carte">

                <div class="carte">

                    <h1><span>{{ app.user.prenom }} </span> {{ app.user.nom }} </h1>

                    <p>{{ app.user.poste}} - <span>{{ app.user.chocolaterie.lieu}}</span></p>
                    <br>

                    {#ecrire une condition de type "Vous n'avez pas de description, écriver une courte description  vous"#}
                    <p>{{ app.user.description }}</p>

                    <div class="logo">
                        <figure><i class="{{ app.user.facebook }}"></i></figure>
                        <figure><i class="{{ app.user.instagram }}"></i></figure>
                        <figure><i class="{{ app.user.twitter }}"></i></figure>
                        <figure><i class="{{ app.user.linkedin }}"></i></figure>
                        
                        {#<img titre="Logo utilisateur" src="{{ app.user.imageprofil }}">
                        <img titre="Logo utilisateur" src="{{ app.user.imageprofil }}">
                        <img titre="Logo utilisateur" src="{{ app.user.imageprofil }}">
                        <img titre="Logo utilisateur" src="{{ app.user.imageprofil }}">#}
                    </div>

                    <li><a class="btn" href="#">Envoyer un mail</a></li>

                </div>

            </div>

            <div id="container_posts">

                <h1>
                    Les derniers <span>posts publiés</span>
                </h1>

                {#ecrire une condition de type "Aucun post n'a était publié"#}



                {#Boucle sur post#}


                <div class="posts">

                    <figure>

                        <img src="{{ app.user.imageprofil }}" alt="{{ app.user.imageprofilalt }}">

                    </figure>


                    <div class="contenues">

                        <h3><span>{{ app.user.prenom }} </span> {{ app.user.nom }}
                            <p class="colorP">publiés le {{ app.user.createdAt|date('d/m/Y') }}</p>
                        </h3>

                        <div id="contenues_img">
                        <img src="{{ app.user.imageprofil }}" alt="{{ app.user.imageprofilalt }}">
                        <img src="{{ app.user.imageprofil }}" alt="{{ app.user.imageprofilalt }}">
                        <img src="{{ app.user.imageprofil }}" alt="{{ app.user.imageprofilalt }}">
                        </div>

                        
                        <p></span>{{ app.user.id }}</p>
                        <div class="comments">

                           0 <i class="fa-regular fa-comments"><a href="#"> Commenter</a></i>
                            0 <i class="fa-regular fa-heart"><a href="#"> J'aime</a></i>
                        </div>

                    </div>


                </div>


            
            </div>



            <div id="container_btn">

                <li><a class="btn" href="#">Modifer mon profil</a></li>
                <li><a class="btn" href="#">Publier un post</a></li>
                <span>
                    <li><span><a class="btn2" href="{{ path('app_trombinoscope') }}">Trombinoscope</a></span></li>
                </span>

                {{ dump(app.user.commentaires.snapshot) }}
                   {{ dump(app.user.commentaires) }}
                   {{ dump(post) }}
                     {#{{ dump(likeRepository) }}#} 
            </div>

        </div>

    </section>

</body>
{% endblock %}