{% extends 'user_base.html.twig' %}

{% block title %}Connecté : {{ app.user.prenom }} {{ app.user.nom }}{% endblock %}

{% block body %}


        {% include 'user/templates/dashboard.html.twig' %}
  

        <div id="container_general">

            <div id="container_carte">

                <div class="carte">

                    <h1><span>{{ app.user.prenom }} </span> {{ app.user.nom }} </h1>

                    <p>{{ app.user.poste}} - <span>{{ app.user.chocolaterie.lieu}}</span></p>
                    <br>

                    {#ecrire une condition de type "Vous n'avez pas de description, écriver une courte description  vous"#}
                    <p>{{ app.user.description }}</p>

                    <div class="logo">
                        <figure><i class="{{ app.user.facebook }}"></i></figure>
                        <figure><i class="{{ app.user.instagram }}"></i></figure>
                        <figure><i class="{{ app.user.twitter }}"></i></figure>
                        <figure><i class="{{ app.user.linkedin }}"></i></figure>
                        
                        {#<img titre="Logo utilisateur" src="{{ app.user.imageprofil }}">
                        <img titre="Logo utilisateur" src="{{ app.user.imageprofil }}">
                        <img titre="Logo utilisateur" src="{{ app.user.imageprofil }}">
                        <img titre="Logo utilisateur" src="{{ app.user.imageprofil }}">#}
                    </div>

                    <a class="btn" href="#"><li>Envoyer un mail</li></a>

                </div>

            </div>


            {% include 'user/templates/posts.html.twig' %}


            <div id="container_btn">

                <a class="btn" href="#"><li>Modifer mon profil</li></a>
                <a class="btn" href="#"><li>Publier un post</li></a>
                <a class="btn2" href="{{ path('app_trombinoscope') }}"><li>Trombinoscope</li></a>
                
                
            </div>
                  
                     {#{{ dump(likeRepository) }}#}
        </div>

        <pre>{{ dump(app.user) }}</pre>
                  
        <pre>{{ dump(post) }}</pre>
  

{% endblock %}