{% extends 'user_base.html.twig' %}

{% block title %}Connecté : {{ app.user.prenom }} {{ app.user.nom }}{% endblock %}

{% block body %}


    <body>

   {#{{ dump(app.user) }} 

    lighthouse navigateur ou gt metrix rapport d'optimisation #}


<section>

    <header>

        <div id="containerTop">
        
        <figure>

            <img src="{{ app.user.imageprofil }}" alt="{{ app.user.imageprofilalt }}">

        </figure>


        <h1><span>{{ app.user.prenom }} </span> {{ app.user.nom }} </h1>

            <li><a class="btn" href="#"><i class="fa-regular fa-user"></i> Voir mon profil</a></li>

        </div>


        <div id="containerBottom">



            <navbar>
            <ul>

                <li><a href="#">Accueil</a></li>

                <li><a href="#">Actualités de l'entreprise</a></li>

                <li><a href="#">Trombinoscope</a></li>

                <li><a href="#">La vie des chocolateries</a></li>

                <li><a href="#"><i class="fa-solid fa-power-off"></i> Déconnexion</a></li>

            </ul>
            </navbar>

            <figure>
                 <img title="logo david-kenos" src="../img/logos/logo-david-kenos-blanc.png" alt="Le logo de david kenos">
            </figure>           
        </div>

    </header>



<div id="container1">




        <div id="container2">
            <figure>
                    <img titre ="bandeau utlisateur "src="{{ app.user.imagebandeau }}" alt="{{ app.user.imagebandeaualt }}">
            </figure>

             <figure class="profil">
                    <img titre ="Logo utilisateur"src="{{ app.user.imageprofil }}" alt="{{ app.user.imageprofilalt }}">
            </figure>
        </div>

        <div id="container3">
        
        <div id="container4">
            <div class="Carte_Desc">
            

            <h1><span>{{ app.user.prenom }} </span> {{ app.user.nom }} </h1>

            <p>Gérant - <span>{{ app.user.prenom}}</span></p>
            <br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Voluptatibus veritatis libero debitis ullam dignissimos
              ea rerum perferendis explicabo saepe repudiandae molestiae 
              iure aliquam beatae, soluta nihil nemo laborum quidem officia?</p>
              

        <div class="logo">
            <img titre ="Logo utilisateur"src="{{ app.user.imageprofil }}" alt="{{ app.user.imageprofilalt }}">
            <img titre ="Logo utilisateur"src="{{ app.user.imageprofil }}" alt="{{ app.user.imageprofilalt }}">
            <img titre ="Logo utilisateur"src="{{ app.user.imageprofil }}" alt="{{ app.user.imageprofilalt }}">
            <img titre ="Logo utilisateur"src="{{ app.user.imageprofil }}" alt="{{ app.user.imageprofilalt }}">
        </div>

            <li><a class="btn" href="#">Envoyer un mail</a></li>

            </div>
        
        </div>

        <div id="container5">

                <h2>
                Les derniers posts publiés 
                </h2>

                <div class="post">                
                    POST               
                </div>

                <div class="post">                
                    POST               
                </div>

                <div class="post">                
                    POST               
                </div>

        </div>

        <div id="container6">

        <li><a class="btn" href="#">Modifer mon profil</a></li>
        <li><a class="btn" href="#">Publier un post</a></li>
        <span><li><span><a class="btn2" href="#">Trombinoscope</a></span></li></span>
        </div>
        
        </div>
 
</div>

      

</section>




{% endblock %}
